@font-face {
	font-family: IBM Plex Mono;
	src: url('/public/IBMPlexMono-Text.otf');
}

html {
	font-family: IBM Plex Mono, monospace;
	font-size: 20px;
}

body {
	margin: 0px;
}

#root {
	background-color: white;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h3 {
	margin: 10px;
	text-align: center;
	line-height: 2rem;
}

img {
	margin-top: 30vh;
	border-radius: 10px;
}

input[type='text'] {
	font-family: IBM Plex Mono, monospace;
	border: none;
	font-size: 1.7rem;
	width: 140px;
}

input[type='text']:focus {
	outline: none;
}
